@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic);
@import url(font-awesome.css);
/* Base styles
   ======================== */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #666666;
}
html {
  font-size: 13px;
  min-height: 100%;
  line-height: 1.3;
  position: relative;
}
body {
  margin-bottom: 240px;
}
hr {
  display: block;
  height: 30px;
  border: 0;
  border-top: 1px dashed #b8d2e4;
  padding: 0;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 200px;
  position: absolute;
  background: url("../img/bg-footer.png") 0 0 repeat-x;
}
.footer .footer-nav {
  padding: 26px;
  border-top: 5px solid #ef7412;
}
.footer .footer-nav ul {
  width: 100%;
  display: table;
}
.footer .footer-nav ul li {
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  display: table-cell;
  text-transform: uppercase;
}
.footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer-nav ul li a:hover {
  text-decoration: underline;
}
.footer .footer-contact {
  position: relative;
  margin-left: 232px;
  padding-top: 14px;
}
.footer .footer-contact li {
  float: left;
  height: 30px;
  line-height: 30px;
}
.footer .footer-contact li.tel {
  width: 225px;
  font-size: 20px;
  padding-left: 40px;
  background: url("../img/icon-tel.png") left center no-repeat;
}
.footer .footer-contact li.tel span {
  font-size: 16px;
}
.footer .footer-contact li.call {
  width: 195px;
  margin-top: -3px;
  position: relative;
}
.footer .footer-contact li.call a {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}
.footer .footer-contact li.call a:hover {
  border-color: transparent;
}
.footer .footer-contact li.address {
  width: 205px;
  padding-left: 45px;
  background: url("../img/icon-address.png") left center no-repeat;
}
.footer .footer-contact li.email {
  width: 200px;
  padding-left: 45px;
  background: url("../img/icon-mail.png") left center no-repeat;
}
.footer .footer-contact li.email a {
  color: #fff;
}
.footer .footer-contact li.email a:hover {
  text-decoration: underline;
}
.header {
  height: 130px;
  border-top: 3px solid #0068b1;
  background: url("../img/bg-header.png") 0 0 repeat-x;
}
.header .logo {
  left: 0;
  top: 16px;
  width: 495px;
  height: 81px;
  display: block;
  cursor: pointer;
  position: absolute;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.header .header-right {
  float: right;
  width: 275px;
  height: 100%;
  padding-top: 26px;
  position: relative;
}
.header .header-profile {
  z-index: 100;
  width: 280px;
  padding-left: 28px;
  position: relative;
  padding-bottom: 5px;
  border-left: 1px solid #bfdaed;
}
.header .header-profile .header-user {
  line-height: 20px;
  color: #333333;
  padding: 5px 25px 6px 43px;
  background: url("../img/icon-user-profile.png") 0 1px no-repeat;
}
.header .header-profile .header-user span {
  display: block;
}
.header .header-profile .profile-link {
  width: 80px;
  height: 20px;
  margin-left: 43px;
  position: relative;
}
.header .header-profile .profile-link span {
  cursor: pointer;
  color: #ef7412;
  display: inline-block;
  border-bottom: 1px dashed #ef7412;
}
.header .header-profile .profile-link ul {
  left: 0;
  z-index: 999;
  top: 18px;
  width: 105px;
  height: 73px;
  display: none;
  position: absolute;
  padding: 17px 9px 10px 9px;
  background: url("../img/bg-profile-nav.png") 0 0 no-repeat;
}
.header .header-profile .profile-link ul li {
  text-align: center;
}
.header .header-profile .profile-link ul li:first-child {
  border-bottom: 1px solid #065f9d;
}
.header .header-profile .profile-link ul li:last-child {
  border-top: 1px solid #016fbc;
}
.header .header-profile .profile-link ul a {
  display: inline-block;
  color: #fff;
  height: 23px;
  font-size: 12px;
  line-height: 23px;
}
.header .header-profile .profile-link:hover ul {
  display: block;
}
.header .header-profile .btn-close {
  top: 10px;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close-small.png") 0 0 no-repeat;
}
.header .header-auth {
  z-index: 10;
  width: 280px;
  margin-left: 30px;
  padding-left: 30px;
  position: relative;
  padding-bottom: 5px;
  border-left: 1px solid #bfdaed;
}
.header .header-auth p {
  padding: 5px 0;
  margin-bottom: 0;
}
.topnav {
  height: 50px;
  background: url("../img/bg-topnav.png") 0 0 repeat-x;
}
.topnav ul {
  height: 50px;
  float: left;
  width: 925px;
  display: table;
}
.topnav ul li {
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: table-cell;
  background: transparent;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.topnav ul li a {
  color: #fff;
  width: 100%;
  height: 100%;
  line-height: 50px;
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  behavior: url(css/pie/PIE.htc);
}
.topnav ul li a span {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.topnav ul li a:hover,
.topnav ul li li.active a {
  text-decoration: none;
  background: url("../img/bg-topnav-hover-left.png") left center no-repeat;
  text-shadow: 0px -1px 0px rgba(191, 98, 66, 0.8);
  behavior: url(css/pie/PIE.htc);
}
.topnav ul li a:hover span,
.topnav ul li li.active a span {
  background: url("../img/bg-topnav-hover-right.png") right center no-repeat;
}
.topnav ul li:hover,
.topnav ul li.active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: url("../img/bg-topnav-hover.png") 0 0 repeat-x;
}
.topnav .top-search-inner {
  float: right;
  width: 248px;
  padding-top: 9px;
}
.topnav .top-search {
  width: 248px;
  height: 30px;
  background: #fff;
}
.topnav .top-search input[type="text"] {
  float: left;
  width: 210px;
  height: 30px;
  outline: none;
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 15px;
  font-style: italic;
  color: #333333;
  background: transparent;
  border: 1px solid transparent;
}
.topnav .top-search .btn-search {
  width: 30px;
  height: 30px;
  float: right;
  outline: none;
  border: 1px solid transparent;
  background: #ffffff url("../img/btn-search.png") 0 0 no-repeat;
}
.topnav .top-search .btn-search:hover {
  background: #ffffff url("../img/btn-search.png") 0 -30px no-repeat;
}
.slider-block {
  height: 430px;
  margin-bottom: 24px;
}
.slider-block .slider-inner {
  position: relative;
}
.slider-block .slider {
  position: relative;
}
.slider-block .slider li {
  width: 1200px;
  height: 390px;
  position: relative;
}
.slider-block .slider .slide-text {
  left: 0;
  bottom: 0;
  color: #fff;
  height: 154px;
  position: absolute;
  border-left: 5px solid #0068b1;
  background: url("../img/slider-text.png");
}
.slider-block .slider .slide-text .inner {
  padding: 25px 40px 25px 30px;
  position: relative;
}
.slider-block .slider .slide-text .slide-title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.slider-block .slider .slide-text .slide-description {
  font-size: 18px;
  line-height: 40px;
}
.slider-block .slider .slide-text .slide-detail {
  top: -16px;
  right: -11px;
  width: 28px;
  height: 28px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  background: url("../img/icon-plus.png") 0 0 no-repeat;
}
.slider-block .slider .slide-text .slide-detail span {
  display: none;
  color: #666666;
  line-height: 32px;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(204, 204, 204, 0.8);
  behavior: url(css/pie/PIE.htc);
}
.slider-block .slider .slide-text .slide-detail:hover {
  right: -128px;
  width: 145px;
  height: 45px;
  background: url("../img/icon-plus.png") 0 -28px no-repeat;
}
.slider-block .slider .slide-text .slide-detail:hover span {
  display: block;
  padding: 11px 0 0 40px;
}
.slider-block .slider .owl-controls {
  left: 0;
  width: 100%;
  height: 20px;
  bottom: -40px;
  text-align: center;
  position: absolute;
}
.slider-block .slider .owl-controls .owl-dot {
  width: 14px;
  height: 14px;
  margin: 0 7px;
  cursor: pointer;
  display: inline-block;
  background: url("../img/slider-control.png") 0 0 no-repeat;
}
.slider-block .slider .owl-controls .owl-dot.active {
  background: url("../img/slider-control.png") 0 -14px no-repeat;
}
.slider-block .slider-nav {
  z-index: 9999;
  top: 170px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  background: url("../img/slider-nav.png");
}
.slider-block .slider-nav.slide-prev {
  left: 0;
  background-position: 0 0;
}
.slider-block .slider-nav.slide-prev:hover {
  background-position: 0 -50px;
}
.slider-block .slider-nav.slide-next {
  right: 0;
  background-position: -50px 0;
}
.slider-block .slider-nav.slide-next:hover {
  background-position: -50px -50px;
}
.promo {
  margin-bottom: 19px;
}
.promo ul {
  margin: 0 -6px 0 -7px;
}
.promo ul li {
  float: left;
  width: 290px;
  height: 317px;
  margin-left: 7px;
  margin-right: 6px;
  text-align: center;
  border: 2px solid #e3f4f9;
  padding: 30px 25px 25px 20px;
}
.promo ul span {
  display: block;
  color: #0068b1;
  font-family: 'Cuprum', sans-serif;
}
.promo ul span.num {
  font-size: 72px;
  line-height: 80px;
}
.promo ul span.num-legend {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 55px;
  text-transform: uppercase;
  background: url("../img/promo-shadow.png") 50% 48px no-repeat;
}
.service-block {
  color: #fff;
  height: 393px;
  padding: 37px 40px 40px 50px;
  background: url("../img/bg-promo.jpg") top center no-repeat;
}
.service-block h1 {
  color: #fff;
  float: left;
  width: 300px;
  margin-top: 3px;
}
.service-block .rounded {
  width: 550px;
  float: right;
}
.customers {
  padding: 33px 0 12px 0;
  position: relative;
}
.customers h4 {
  margin-left: 50px;
  margin-bottom: 15px;
}
.customers .inner {
  position: relative;
  padding: 0 65px 0 85px;
}
.customers ul {
  width: 1050px;
  height: 100px;
  margin: 0 auto;
}
.customers ul li {
  float: left;
  width: 350px;
  height: 100px;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.customers .btn-nav-small {
  top: 25px;
  display: block;
  position: absolute;
}
.customers .btn-nav-small.prev {
  left: 0;
}
.customers .btn-nav-small.next {
  right: 0;
}
.breadcrumbs {
  height: 52px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #b7d1e4;
}
.breadcrumbs li {
  font-size: 12px;
  line-height: 52px;
  display: inline-block;
  color: #999999;
}
.breadcrumbs li a {
  color: #0068b1;
  text-decoration: underline;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs > li + li:before {
  content: "→";
  padding: 0 5px;
  color: #0068b1;
}
.modal-box {
  width: 480px;
  background: #fff;
}
.modal-box .modal-title {
  color: #fff;
  height: 67px;
  padding: 0 30px;
  font-size: 24px;
  line-height: 67px;
  position: relative;
  background: #0068b1;
  font-family: 'Cuprum', sans-serif;
}
.modal-box .modal-title .modal-close {
  top: 22px;
  right: 22px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  background: url("../img/modal-close.png") 0 0 no-repeat;
}
.modal-box .modal-body {
  padding: 30px 35px;
}
.modal-box .form .form-horizontal textarea,
.modal-box .form .form-horizontal input[type="tel"],
.modal-box .form .form-horizontal input[type="text"],
.modal-box .form .form-horizontal input[type="email"],
.modal-box .form .form-horizontal input[type="password"] {
  width: 300px;
}
.modal-box .form .form-horizontal label {
  color: #333333;
}
.sidebar {
  float: left;
  width: 340px;
  min-height: 1px;
}
.sidenav {
  margin-bottom: 30px;
}
.sidenav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidenav ul li {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Cuprum', sans-serif;
}
.sidenav ul li a {
  text-decoration: none;
  color: #999999;
}
.sidenav ul li a:hover {
  color: #0068b1;
  text-decoration: none;
}
.box {
  margin-bottom: 30px;
}
/* Content */
.content-right {
  float: right;
  width: 820px;
  min-height: 1px;
}
.content {
  margin-right: 10px;
}
.features-services {
  padding: 25px 30px;
  margin-bottom: 23px;
  border: 2px solid #0068b1;
}
.request {
  padding: 40px;
  height: 303px;
  background: url("../img/bg-request.jpg") top center no-repeat;
}
.request h2 {
  float: left;
  width: 250px;
}
.request .request-form {
  float: right;
  width: 460px;
}
.request .form .form-horizontal label {
  width: 80px;
  margin-right: 0;
}
.object-link {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.object-link a {
  float: left;
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  padding-left: 55px;
  text-decoration: none;
}
.object-link a span {
  display: block;
}
.object-link a .link-title {
  color: #0068b1;
  font: 18px/20px 'Cuprum', sans-serif;
}
.object-link a .link-info {
  color: #666666;
  font: 13px/20px 'Ubuntu', sans-serif;
}
.object-link a:hover {
  text-decoration: none;
}
.object-link a:hover .link-title {
  color: #ef7412;
}
.object-link a.icon-stat {
  background: url("../img/icon-project-link.jpg") 0 0 no-repeat;
}
.object-link a.icon-webcam {
  background: url("../img/icon-project-link.jpg") 0 -40px no-repeat;
}
.object-link a.icon-stat:hover {
  background: url("../img/icon-project-link.jpg") 0 -80px no-repeat;
}
.object-link a.icon-webcam:hover {
  background: url("../img/icon-project-link.jpg") 0 -120px no-repeat;
}
.gallery-inline {
  padding-top: 20px;
}
.gallery-inline .inner {
  padding: 0 52px;
  position: relative;
}
.gallery-inline ul {
  width: 1095px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.gallery-inline ul li {
  float: left;
  width: 211px;
  height: 197px;
  margin: 0 4px;
  overflow: hidden;
}
.gallery-inline ul li a {
  display: block;
  border: 6px solid #fff;
}
.gallery-inline ul li a:hover {
  border-color: #ef7412;
}
.gallery-inline .btn-nav-large {
  top: 6px;
  position: absolute;
}
.gallery-inline .btn-nav-large.prev {
  left: 0;
}
.gallery-inline .btn-nav-large.next {
  right: 1px;
}
.user-profile .profile-column {
  float: left;
  width: 535px;
  margin-right: 55px;
}
.user-profile .label-inner {
  float: left;
  width: 90px;
  margin-right: 5px;
}
.user-profile .input-inner {
  float: left;
  width: 380px;
}
.user-profile .profile-column.col-right .label-inner {
  width: 150px;
}
.user-profile hr {
  height: 25px;
  border-top: 1px dashed #b8d2e4;
}
.certificates {
  margin: 0 -20px;
}
.certificates li {
  float: left;
  width: 380px;
  height: 210px;
  overflow: hidden;
  margin: 0 20px 30px 20px;
  border-bottom: 1px dashed #b8d2e4;
}
.certificates li .sert-img {
  float: left;
  width: 130px;
  height: 180px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 2px solid #999999;
}
.certificates li .sert-img:hover {
  border-color: #ef7412;
}
.certificates li .sert-text {
  float: left;
  width: 230px;
  line-height: 20px;
  margin-bottom: 30px;
}
.certificates li .sert-text a {
  color: #666666;
  text-decoration: none;
}
.certificates li .sert-text a:hover {
  color: #ef7412;
}
.staff li {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #b8d2e4;
}
.staff .staff-avatar {
  float: left;
  width: 180px;
  height: 220px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin-right: 40px;
  border: 4px solid #999999;
}
.staff .staff-avatar:hover {
  border-color: #ef7412;
}
.staff .staff-text {
  float: left;
  width: 600px;
}
.staff .staff-text .staff-name {
  padding-top: 10px;
  font: 24px/30px 'Cuprum', sans-serif;
}
.staff .staff-text .staff-name a {
  color: #0068b1;
  text-decoration: none;
}
.staff .staff-text .staff-name a:hover {
  color: #ef7412;
}
.staff .staff-text .staff-info {
  font-size: 14px;
  margin-bottom: 20px;
  color: #999999;
}
.staff .staff-text p {
  line-height: 18px;
}
.services li {
  padding-bottom: 10px;
}
.services li p {
  padding-left: 20px;
}
.services li a {
  text-decoration: underline;
}
.object-list li {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #b8d2e4;
}
.object-list .object-image {
  float: left;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  max-height: 200px;
  margin-right: 40px;
  border: 4px solid transparent;
}
.object-list .object-image:hover {
  border-color: #ef7412;
}
.object-list .object-text {
  float: left;
  width: 480px;
}
.object-list .object-text .object-name {
  margin-bottom: 10px;
  font: 24px/30px 'Cuprum', sans-serif;
}
.object-list .object-text .object-name a {
  color: #0068b1;
  text-decoration: none;
}
.object-list .object-text .object-name a:hover {
  color: #ef7412;
}
.object-list .object-text p {
  line-height: 18px;
}
.gallery {
  margin: 0 -17px 0 -16px;
}
.gallery li {
  float: left;
  width: 250px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin: 0 16px 20px 17px;
}
.gallery .img-thumb {
  width: 250px;
  height: 154px;
  overflow: hidden;
  margin-bottom: 10px;
}
.gallery .item-title {
  color: #333333;
  text-decoration: none;
}
.gallery .item-title:hover {
  color: #ef7412;
}
.pagination {
  height: 50px;
  text-align: center;
}
.pagination li {
  width: 50px;
  height: 50px;
  margin: 2px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
}
.pagination li a {
  width: 100%;
  height: 100%;
  color: #666666;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #cccccc;
}
.pagination li a:hover {
  color: #ef7412;
  text-decoration: none;
  border-color: #ef7412;
}
.pagination li .current {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #0068b1;
  border: 1px solid #0068b1;
}
.pagination li:first-child {
  margin-right: 20px;
}
.pagination li:last-child {
  margin-left: 20px;
}
.graphics {
  margin-bottom: 20px;
}
.graphics li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;
  line-height: 20px;
}
.graphics li a {
  margin-right: 10px;
}
.graphics li .icon-file {
  left: 0;
  font-size: 16px;
  color: #ef7412;
  position: absolute;
}
.webcam {
  padding: 0;
  margin: 0 0 20px 0;
}
.webcam dt {
  padding: 0;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.webcam dt a {
  color: #0068b1;
  text-decoration: underline;
}
.webcam dt a:hover {
  color: #ef7412;
  text-decoration: none;
}
.webcam dd {
  padding: 0;
  line-height: 20px;
  margin: 0 0 15px 0;
}
.contact {
  float: left;
  width: 450px;
}
.contact li {
  font-size: 16px;
  line-height: 24px;
}
.contact li i {
  margin-right: 10px;
  color: #0068b1;
}
.partners {
  margin-bottom: 20px;
}
.partners li {
  float: left;
  width: 50%;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.partners li .partner-logo {
  height: 140px;
}
.contact-form {
  float: right;
  width: 700px;
}
.contact-form .label-inner {
  float: left;
  width: 90px;
  min-height: 1px;
  margin-right: 10px;
}
.contact-form .input-inner {
  float: left;
  width: 600px;
  min-height: 1px;
}
.sitemap li {
  padding: 3px 0 3px 10px;
  background: url("../img/list-marker.png") 0 8px no-repeat;
}
.sitemap ul {
  padding: 5px 0;
}
.sitemap ul ul {
  margin-left: 20px;
}
#map {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
  border: 2px solid #0068b1;
}
.upload-block {
  padding: 30px;
  margin-bottom: 20px;
  border: 1px dashed #b8d2e4;
}
.upload-block h4 {
  margin-left: 20px;
}
.upload-block .fileform {
  float: left;
  width: 400px;
  height: 45px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.upload-block .fileform .fileformlabel {
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  display: inline-block;
}
.upload-block .upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 40px;
  z-index: 20;
  cursor: pointer;
}
.box-separator {
  border-bottom: 1px dashed #b8d2e4;
  margin-bottom: 30px;
}
/* Tables */
.table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 5px 10px;
  border: 1px solid #b7d1e4;
}
.table th {
  background: #b7d1e4;
  color: #000;
}
.file {
  margin-bottom: 40px;
}
.file .file-date {
  width: 120px;
  text-align: center;
}
.file .file-size {
  width: 120px;
  text-align: center;
}
.file .file-author {
  width: 250px;
  text-align: center;
}
.file .file-download {
  width: 30px;
  text-align: center;
  font-size: 16px;
}
.file .file-download a {
  color: #0068b1;
  text-decoration: none;
}
.file .file-download a:hover {
  color: #ef7412;
}
/* Quotes */
blockquote {
  margin: 0;
  padding: 5px 48px;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  color: #333333;
}
blockquote em {
  float: right;
  font-weight: 400;
  font-style: normal;
  color: #666666;
}
blockquote:before {
  top: 0;
  left: 0;
  width: 26px;
  height: 24px;
  display: block;
  position: absolute;
  content: '';
  background: url("../img/quotes.png") 0 -24px no-repeat;
}
blockquote:after {
  right: 0;
  bottom: 0;
  width: 26px;
  height: 24px;
  display: block;
  position: absolute;
  content: '';
  background: url("../img/quotes.png") 0 0 no-repeat;
}
/* Navigation */
.btn-nav-large {
  width: 50px;
  height: 187px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background: transparent url("../img/btn-nav-large.png") no-repeat;
}
.btn-nav-large.prev {
  background-position: -170px 0;
}
.btn-nav-large.prev:hover {
  background-position: 0 0;
}
.btn-nav-large.next {
  background-position: -240px 0;
}
.btn-nav-large.next:hover {
  background-position: -70px 0;
}
.btn-nav-small {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background: url("../img/btn-nav-small.png") no-repeat;
}
.btn-nav-small.prev {
  background-position: 0 0;
}
.btn-nav-small.prev:hover {
  background-position: 0 -50px;
}
.btn-nav-small.next {
  background-position: -50px 0;
}
.btn-nav-small.next:hover {
  background-position: -50px -50px;
}
/* Forms */
.form {
  width: 100%;
  position: relative;
}
.form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.form .form-horizontal textarea,
.form .form-horizontal input[type="tel"],
.form .form-horizontal input[type="text"],
.form .form-horizontal input[type="email"],
.form .form-horizontal input[type="password"] {
  float: left;
  width: 380px;
}
.form .form-horizontal label {
  float: left;
  width: 100px;
  min-height: 1px;
  margin-right: 10px;
}
.form .form-inline textarea,
.form .form-inline input[type="tel"],
.form .form-inline input[type="text"],
.form .form-inline input[type="email"],
.form .form-inline input[type="password"] {
  float: right;
  width: 265px;
}
.form .form-inline label {
  width: 140px;
  margin-right: 0;
}
.form .form-inline .btn-color {
  float: left;
}
.form .form-inline .btn-gray {
  float: right;
}
.form textarea,
.form input[type="tel"],
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  outline: none;
  display: block;
  font-size: 13px;
  font-weight: 600;
  background: #fff;
  line-height: 23px;
  padding: 11px 20px;
  color: #999999;
  border: 1px solid #dde1e7;
}
.form textarea:hover,
.form input[type="tel"]:hover,
.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="password"]:hover {
  color: #666666;
  border-color: #cccccc;
}
.form textarea:focus,
.form input[type="tel"]:focus,
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus {
  color: #333333;
  border-color: #333333;
}
.form textarea.error,
.form input[type="tel"].error,
.form input[type="text"].error,
.form input[type="email"].error,
.form input[type="password"].error {
  border-color: #ef122c;
}
.form input[type="tel"],
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  height: 44px;
}
.form label {
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  color: #0068b1;
}
.form .error-message {
  display: block;
  color: #ef122c;
  margin-bottom: 10px;
}
/* Buttons */
.btn {
  height: 40px;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 0 40px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(101, 101, 101, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(101, 101, 101, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(101, 101, 101, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(css/pie/PIE.htc);
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.btn.btn-color {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(191, 98, 66, 0.8);
  background: #0068b1;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjhiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTc5Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #0068b1 0%, #0179ce 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0068b1), color-stop(100%, #0179ce));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0068b1 0%, #0179ce 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0068b1 0%, #0179ce 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0068b1 0%, #0179ce 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0068b1 0%, #0179ce 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0068b1', endColorstr='#0179ce', GradientType=0);
  /* IE6-8 */
}
.btn.btn-color:hover {
  text-decoration: none;
  background: #ff8916;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODkxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNTRmMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff8916 0%, #d54f0a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8916), color-stop(100%, #d54f0a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff8916 0%, #d54f0a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff8916 0%, #d54f0a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff8916 0%, #d54f0a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff8916 0%, #d54f0a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8916', endColorstr='#d54f0a', GradientType=0);
  /* IE6-8 */
}
.btn.btn-color:active {
  text-decoration: none;
  background: #d54f0a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1NGYwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjg5MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d54f0a 0%, #ff8916 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d54f0a), color-stop(100%, #ff8916));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d54f0a 0%, #ff8916 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d54f0a 0%, #ff8916 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d54f0a 0%, #ff8916 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d54f0a 0%, #ff8916 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d54f0a', endColorstr='#ff8916', GradientType=0);
  /* IE6-8 */
}
.btn.btn-gray {
  color: #666666;
  text-shadow: 0px -1px 0px rgba(204, 204, 204, 0.8);
  background: #c4c4c4;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c4c4c4 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c4c4c4 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c4c4c4 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c4c4c4 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c4c4c4 0%, #f1f1f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#f1f1f1', GradientType=0);
  /* IE6-8 */
}
.btn.btn-gray:hover {
  text-decoration: none;
  background: #e6e4e4;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOWI4YjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e6e4e4 0%, #b9b8b8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e4e4), color-stop(100%, #b9b8b8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6e4e4 0%, #b9b8b8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6e4e4 0%, #b9b8b8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e6e4e4 0%, #b9b8b8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e6e4e4 0%, #b9b8b8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e4e4', endColorstr='#b9b8b8', GradientType=0);
  /* IE6-8 */
}
.btn.btn-gray:active {
  text-decoration: none;
  background: #b9b8b8;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5YjhiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b9b8b8 0%, #e6e4e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9b8b8), color-stop(100%, #e6e4e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b9b8b8 0%, #e6e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b9b8b8 0%, #e6e4e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b9b8b8 0%, #e6e4e4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b9b8b8 0%, #e6e4e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9b8b8', endColorstr='#e6e4e4', GradientType=0);
  /* IE6-8 */
}
.btn-ellipse {
  height: 26px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 0 20px 0 40px;
  color: #333333;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  behavior: url(css/pie/PIE.htc);
}
.btn-ellipse:hover,
.btn-ellipse:active {
  color: #fff;
  text-decoration: none;
}
.btn-ellipse.btn-login {
  background: url("../img/icon-btn.png") 0 0 no-repeat;
}
.btn-ellipse.btn-login:hover {
  background: #0068b1 url("../img/icon-btn.png") 0 -26px no-repeat;
}
.btn-ellipse.btn-login:active {
  background: #ef7412 url("../img/icon-btn.png") 0 -26px no-repeat;
}
.btn-ellipse.btn-reg {
  background: url("../img/icon-btn.png") 0 -100px no-repeat;
}
.btn-ellipse.btn-reg:hover {
  background: #0068b1 url("../img/icon-btn.png") 0 -126px no-repeat;
}
.btn-ellipse.btn-reg:active {
  background: #ef7412 url("../img/icon-btn.png") 0 -126px no-repeat;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: 400;
  margin: 0 0 15px 0;
  font-family: 'Cuprum', sans-serif;
}
h1 {
  font-size: 36px;
  color: #0068b1;
}
h2 {
  font-size: 30px;
  color: #0068b1;
  margin-bottom: 30px;
}
h3 {
  font-size: 24px;
  color: #0068b1;
  text-transform: uppercase;
}
h4 {
  font-size: 24px;
  color: #999999;
}
h5 {
  font-size: 20px;
  color: #01518a;
  text-transform: uppercase;
}
h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #01518a;
  text-transform: uppercase;
}
h6 a {
  text-decoration: none;
  color: #01518a;
}
h6 a:hover {
  color: #ef7412;
}
p {
  padding: 0;
  margin: 0 0 20px 0;
}
a {
  color: #333333;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.img-left {
  float: left;
  margin: 0 30px 30px 0;
}
/* Списки */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list-marker {
  padding: 5px 0;
}
ul.list-marker li {
  padding: 5px 0 5px 15px;
  background: url("../img/list-marker.png") 0 10px no-repeat;
}
ul.list-marker ul {
  margin-left: 20px;
  padding-top: 8px;
}
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
ol li {
  position: relative;
  padding: 0 0 15px 15px;
}
ol li:before {
  top: 0;
  left: 0;
  font-weight: 700;
  text-align: left;
  font-size: inherit;
  position: absolute;
  color: #ef7412;
  content: counter(li);
  counter-increment: li;
}
.rounded li {
  position: relative;
  padding: 10px 0 12px 35px;
}
.rounded li:before {
  top: 10px;
  left: -10px;
  color: #fff;
  width: 24px;
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  position: absolute;
  border-radius: 24px;
  content: counter(li);
  counter-increment: li;
  background: #ef7412;
}
.text-center {
  text-align: center !important;
}
/* Mixed */
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.content:before,
.content:after,
.clearfix:before,
.clearfix:after,
.form-inline:before,
.form-inline:after,
.form-group:before,
.form-group:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.content:after,
.clearfix:after,
.form-inline:after,
.form-group:after,
.container:after {
  clear: both;
}
.content,
.clearfix,
.form-group,
.form-inline,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
